#previewForm {
  display: inline-block;
}

#editor {
  position: absolute;
  top:      20px;
  right:    0;
  bottom:   1em;
  left:     0;
  /* height: 50em; */
  width: 600px;
}

#canvas {
  margin-left: 610px;
}

#codes {
  z-index:    10;
  position:   absolute;
  bottom:     0;
  font-size:  45%;
  padding:    .2ex;
}
